<article class="single_main_section post-type-{{ post.post_type }} {{ post.class }}" id="post-{{ post.ID }}">

    {% block content %}

        {# Begin Entry Header #}
        <section class="entry-header">

            {# Begin Entry Title #}
            {% if gantry.config.get('content.' ~ scope ~ '.title.enabled', '1') %}
                <h2 class="title-{{ post.terms('baby_gender') | join(', ') }} single_title" class="entry-title">
                    {% if gantry.config.get('content.' ~ scope ~ '.title.link', '0') %}
                        <a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a>
                    {% else %}
                        {% for tag in post.terms('baby_gender') %}<span class="name-link-icon-{{tag}}"></span>{% endfor %}{{ post.title }}

                    {% endif %}
                </h2>
            {% endif %}
            {# End Entry Title #}

            <div class="single_meta">    
            
            {# Begin Entry Meta #}
            {% if gantry.config.get('content.' ~ scope ~ '.meta-date.enabled', '1') or gantry.config.get('content.' ~ scope ~ '.meta-author.enabled', '1') or gantry.config.get('content.' ~ scope ~ '.meta-comments.enabled', '1') or gantry.config.get('content.' ~ scope ~ '.meta-categories.enabled', '1') or gantry.config.get('content.' ~ scope ~ '.meta-tags.enabled', '0') %}
                
              {#  {% include ['partials/meta-' ~ scope ~ '.html.twig', 'partials/meta.html.twig'] %} #}
            
            {% endif %}
            {# End Entry Meta #}
            
            <div class="per_baby_inner">
               {# <div class="single_texonomy">Gender: <span class="baby_gender_{{ post.terms('baby_gender') | join(', ') }}">{{ post.terms('baby_gender') | join(', ') }}</span></div>  #}

                <div class="single_texonomy">Gender: {% for tag in post.terms('baby_gender') %}<span class="baby_gender_{{tag}}">{{tag}}</span>{% endfor %}</div>
                
                {%  if (post.terms('origin')) %}
                <div class="single_texonomy">Origin: <span class="baby_origin">{{ post.terms('origin') | join(', ') }}</span></div>
                {% endif %}

                {%  if (post.meaning) %}
                <div class="single_texonomy">Meaning: <span class="baby_origin">{{post.meaning}}</span></div>
                {% endif %}


            </div>

            </div>

        </section>
        {# End Entry Header #}

        {# Check if post is password protected #}
        {% if not function( 'post_password_required', post.ID ) %}

            {# Begin Entry Content #}
            <section class="entry-content">
                {# Begin Featured Image #}
                {% if gantry.config.get('content.' ~ scope ~ '.featured-image.enabled', '1') and post.thumbnail.src %}
                    {% set position = (gantry.config.get('content.' ~ scope ~ '.featured-image.position', 'none') == 'none') ? '' : 'float-' ~ gantry.config.get('content.' ~ scope ~ '.featured-image.position', 'none') %}
                    <a href="{{ post.link }}" class="post-thumbnail" aria-hidden="true">
                        <img src="{{ post.thumbnail.src|resize(gantry.config.get('content.' ~ scope ~ '.featured-image.width', '1200'), gantry.config.get('content.' ~ scope ~ '.featured-image.height', '350')) }}" class="featured-image tease-featured-image {{ position }}" alt="{{ post.title }}" />
                    </a>
                {% endif %}
                {# End Featured Image #}

                {# Begin Page Content #}
                {{ post.paged_content|raw }}

                {{ function('wp_link_pages', {'before': '<div class="page-links" itemprop="pagination">', 'after': '</div>', 'link_before': '<span class="page-number page-numbers">', 'link_after': '</span>', 'echo': 0}) }}
                {# End Page Content #}

                {# Begin Edit Link #}
                {{ function('edit_post_link', __('Edit', 'g5_hydrogen'), '<span class="edit-link">', '</span>') }}
                {# End Edit Link #}

            </section>
            {# End Entry Content #}

            {# Begin Comments #}
            {% if (post.comment_status == 'open' or post.comment_count > 0) and post.post_type != 'product' %}
                {{ function('comments_template')|raw }}
            {% endif %}
            {# End Comments #}

        {% else %}

            {# Begin Password Protected Form #}
            <div class="password-form">

                {# Include the password form #}
                {% include 'partials/password-form.html.twig' %}

            </div>
            {# End Password Protected Form #}

        {% endif %}

    {% endblock %}

</article>
