{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'archive.html.twig' %}
{% set scope = 'archive' %}

{% block content %}

    <div class="platform-content">
        <div class="archive archive_page_custom">
    <div class="baby_names_main ">

                {# Begin Page Header #}
                {% if gantry.config.get('content.' ~ scope ~ '.heading.enabled', '0') %}
                    <header class="page-header">
                        <h1>
                            {% if gantry.config.get('content.' ~ scope ~ '.heading.text') is not empty %}
                                {{ gantry.config.get('content.' ~ scope ~ '.heading.text') }}
                            {% else %}
                              {#  {{ title }} #}
                            {% endif %}
                        </h1>
                    </header>
                {% endif %} 
                {# End Page Header #}

                

                {% if banners_top is not empty %}
                {# Begin Post Entries #}

                {% for banner in banners_top %}
    

                {% if banners_top.pagination %}
                  <nav>Pages:
                    {% for page in banners_top.pagination.pages %}
                      {% if page.current %}
                        <span class="current">{{ banner.title }}</span>{{ loop.last ? '' : ', ' }}
                      {% else %}
                        <a href="{{ banner.link }}">{{ banner.title }}</a>{{ loop.last ? '' : ', ' }}
                      {% endif %}
                    {% endfor %}
                  </nav>
                {% endif %}

                <section class=" entry size-20 " >

                    <div class="container">

                        {% if banner.link %}
                            {% set link = banner.link %}
                        {% elseif banner.banner_link %}
                            {% set link = fn( 'get_permalink', banner.link|first ) %}
                        {% else %}
                            {% set link = undefined %}
                        {% endif %}

                        <div class="wrapper">
                            <h2>
                                {% if link %}
                                    <a href="{{ link }}" class="{{ banner.terms('baby_gender') | join(', ') }} entry-title">{{banner.title}}</a>
                                {% else %}
                                    <span class="{{ banner.terms('baby_gender') | join(', ') }} entry-title">{{banner.title}}</span>
                                {% endif %}
                            </h2>
                            <div class="gender">
                                {% for tag in banner.terms('baby_gender') %}
									<span class="gender_link {{tag}}">{{tag}}</span>
								{% endfor %}
                                
                            </div>
                        </div> <!-- wrapper -->
                    </div> <!-- container -->

                </section>
                {% endfor %}

                {# Begin Pagination #}
                {% if pagination.pages and pagination.pages|length > 1 %}
                    {% include 'partials/pagination.html.twig' %}
                {% endif %}
                {# End Pagination #}

{#  <div class="tool-pagination c-std">
    {% if posts.pagination.prev %}
        <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
    {% endif %}
    <ul class="pages">
        {% for page in posts.pagination.pages %}
            <li>
                {% if page.link %}
                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                {% else %}
                    <span class="{{page.class}}">{{page.title}}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if posts.pagination.next %}
        <a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
    {% endif %}
</div> #}










                
                {% else %}

                {# No posts found #}
                <div class="no-matches-notice">
                    <h1>
                        {{ __( 'Sorry, but there aren\'t any posts matching your query.', 'g5_hydrogen' ) }}
                    </h1>
                </div>

            {% endif %}

        </div> <!-- home-banner-top -->

        </div>
    </div>

{% endblock %}
