/*
Theme Name: Hydrogen
Theme URI: http://gantry.org
Author: RocketTheme, LLC
Author URI: http://rockettheme.com
Description: Default Gantry 5 theme. Provides a simple, clean and fast design to get you started on developing your own theme or setting up a quick new site
Version: 5.4.23
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.name-scroller {
    display: block;
    margin: 1em 0 0.4em;
    position: relative;
    z-index: 10;
}
.name-scroller-inner {
    height: 1.4em;
    clear: both;
    overflow: hidden;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.name-scroller-inner div {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
}
.name-scroller-inner ul {
    margin: 0;
    padding-left: 13em;
}
.name-scroller-inner li {
    float: left;
}
a .dec-pink, a.dec-pink, a.girl, a:visited a.dec-pink, a.dec-pink:visited, a.girl:visited, .dec-pink, .girl, #forum-container a.girl {
    color: #d6455d;
    border-bottom: 1px transparent solid;
    -webkit-transition: background-color 200ms ease-in-out, background-position 400ms ease-in-out, background-color 400ms ease-in-out, opacity 400ms ease-in-out, color 400ms ease-in-out, border 400ms ease-in-out;
    transition: background-color 200ms ease-in-out, background-position 400ms ease-in-out, background-color 400ms ease-in-out, opacity 400ms ease-in-out, color 400ms ease-in-out, border 400ms ease-in-out;
}
a .dec-blue, a.dec-blue, a.boy, a:visited .dec-blue, a.dec-blue:visited, .boy:visited, .dec-blue, .boy, #forum-container a.boy {
    color: #719398;
    border-bottom: 1px transparent solid;
    -webkit-transition: background-color 200ms ease-in-out, background-position 400ms ease-in-out, background-color 400ms ease-in-out, opacity 400ms ease-in-out, color 400ms ease-in-out, border 400ms ease-in-out;
    transition: background-color 200ms ease-in-out, background-position 400ms ease-in-out, background-color 400ms ease-in-out, opacity 400ms ease-in-out, color 400ms ease-in-out, border 400ms ease-in-out;
}
li#name-undefined {
    list-style-type: none;
}
.name-scroller-label {
    color: #222;
}
#header_main_menu ul.g-toplevel li:nth-child(1) {
    background: #80bdbb !important;
}
#header_main_menu ul.g-toplevel li:nth-child(2) {
    background: #719398 !important;
}
#header_main_menu ul.g-toplevel li:nth-child(3) {
    background: #e87f97 !important;
}
#header_main_menu ul.g-toplevel li:nth-child(4) {
    background: #d6455d !important;
}
#header_main_menu ul.g-toplevel li:nth-child(5) {
    background: #b8cc7a !important;
}
#header_main_menu ul.g-toplevel li:nth-child(6) {
    background: #6aaf56 !important;
}
#header_main_menu ul.g-toplevel li:nth-child(7) {
    background: #f7ad63 !important;
}
#header_main_menu ul.g-toplevel li:nth-child(8) {
    background: #f48d25 !important;
}

.g-main-nav ul.g-toplevel li {
    width: 142px;
    padding: 0px;
}
#g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container {
    padding: 9px;
}
section#g-navigation {
    height: 42px;
}
.simple-content-page .main-content, .simple-content-page .main-content-2, .simple-content-page .supplemental-links, .triple-content-wrap .main-content, .triple-content-wrap .main-content-2, .triple-content-wrap .supplemental-links {
    width: 100%;
}
.main-blog {
    text-align: center;
}
.blog-summary-flexslider, .main-blog-sub-images {
    vertical-align: middle;
}
.blog-summary-flexslider, .main-blog-sub-images {
    vertical-align: middle;
}
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.blog-summary-flexslider li {
    margin: 0;
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
.main-blog-images {
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
}
.main-blog-sub-images {
    margin: 0 auto;
    padding-left: 57px;
    padding-right: 12px;
    text-align: center;
}
.main-blog-sub-images .flex-active {
    display: none;
}
.main-blog-sub-images a {
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto 24px;
    padding: 24px 24px 24px 57px;
    border-radius: 0 4px 4px 0;
    height: 86px;
    -webkit-transition: -webkit-transform 600ms ease;
    transition: transform 600ms ease;
    background: #cad6d8;
}
.main-blog-sub-images img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    left: -45px;
    top: -2px;
}
.main-blog-sub-images a img {
    border: 3px solid #719398;
    background: #719398;
}
.main-blog-sub-images h3 {
    color: #373737;
    font-size: 16px;
    line-height: 19px;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 97%;
}
.blog-summary-flexslider.grid__cell.unit-6-12--med.unit-5-10--wideload {
    width: 50%;
    float: left;
}
.main-blog-sub-images {
    margin: 0 auto;
    padding-left: 57px;
    padding-right: 12px;
    text-align: center;
    width: 50%;
    float: left;
}
.inline-name-links .pop-hover-container {
    width: 20%;
}
.inline-name-links .pop-hover-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.pop-hover-text {
    border: 0;
    max-height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    min-width: 1px;
    width: 1px;
    min-width: none;
    z-index: -1;
    pointer-events: none;
    background: #222;
    color: #fcfcfc;
    text-align: center;
    padding: 12px;
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    opacity: 0;
    -webkit-transition: opacity 450ms ease, -webkit-transform 450ms ease, width 0ms ease 450ms, min-width 0ms ease 450ms, z-index 0ms ease 450ms, max-height 0ms ease 450ms, margin 0ms ease 450ms, overflow 0ms ease 450ms, min-width 0ms ease 450ms;
    transition: opacity 450ms ease, transform 450ms ease, width 0ms ease 450ms, min-width 0ms ease 450ms, z-index 0ms ease 450ms, max-height 0ms ease 450ms, margin 0ms ease 450ms, overflow 0ms ease 450ms, min-width 0ms ease 450ms;
    top: 100%;
    left: -12px;
}
.inline-name-links .name-link {
    display: block;
    position: relative;
    margin: 0 auto 6px;
    height: 40px;
    overflow: hidden;
    background-color: #aac542;
}
.inline-name-links .inline-name-link-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-image: url(//d3ljug581seh18.cloudfront.net/assets/symbols-fb469cc….png);
    background-repeat: no-repeat;
    background-position: -36px center;
    position: absolute;
    top: 0;
    left: 0;
}
.inline-name-links .meta-mobile-text {
    display: inline-block;
    color: #fcfcfc;
    line-height: 40px;
}
.inline-name-links .girl-name-link {
    background-color: #d6455d;
}
.inline-name-links .boy-name-link {
    background-color: #719398;
}
.inline-name-links .unisex-name-link {
    background-color: #f48d25;
}
.inline-name-links .celebrity-name-link {
    background-color: #6aaf56;
}
.inline-name-links .inline-name-link-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-image: url(//d3ljug581seh18.cloudfront.net/assets/symbols-fb469cc….png);
    background-repeat: no-repeat;
    background-position: -36px center;
    position: absolute;
    top: 0;
    left: 0;
}
.inline-name-links .unisex-name-link .inline-name-link-icon {
    background-position: -176px center;
}
a.tag-cloud-link.tag-link-22.tag-link-position-2 {
    color: #d6455d;
}
.name_category h5 {
    display: block;
    margin: 0 auto 12px;
    background: #e1e7d0;
    border-radius: 6px;
    padding: 6px 0;
    width: 90%;
    color: #444;
}