<h2>Attitude Names for Boys</h2>
[show_baby_names_list baby_category="attitude-names" baby_gender="boy" posts_per_page="10"]
<h2>Attitude Names for Girls</h2>
[show_baby_names_list baby_category="attitude-names" baby_gender="girl" posts_per_page="10"]
<h2>Badass Baby Names</h2>
[show_baby_names_list baby_category="badass-baby" posts_per_page="10"]
<h2>Cool Baby Names</h2>
Cool baby names come in many varieties and we've got lists for all of them. Here you'll find badass baby names for boys and geezer names for girls, hipster baby names and modern hero names.

Attitude Names for Boys
Attitude names for boys take the idea of cool baby names one step further: they're a little bit badass, a little bit distinctive, and a lot cool. Cool attitude names include animal names like Bear and Fox, in-your-face word names like Danger and Rebel, and "I dare you to make fun of my name" names like Waldo and Thelonious. The cool, creative baby names for boys here are some that we think have swagger, sass, and attitude.

Thelonius
Dmitri
Cosmo
Neo
Zebedee
Magnus
Zane
Otto
See More
Attitude Names for Girls
Attitude names are cool baby names that project sass, spunk, and confidence. These cool-kid qualities may appeal for both girl and boy babies and are increasingly desirable for parents. Attitude names for girls may be inspired by amazing heroines, an unusual letter or sound, or simply a badass image. The cool names here are some of the best girls' names with attitude.

James
Holiday
Puck
Marlowe
Zora
Zenobia
Luna
Story
See More
Badass Baby Names
Cool baby names that qualify as badass carry a macho image yet work for babies of both genders . These names suggest the person who rides a motorcycle and sings in a rock band, who can carry a hikers' pack but would never carry a briefcase. They're cool names with attitude, and they kick butt in every sense of the term. The badass baby names for girls and boys include:

Flash
Shooter
Nico
Striker
Coco
Racer
Scarlett
Ryder
See More
<h2>Best Cool Unusual Boys' Names</h2>
[show_baby_names_list baby_category="best-cool" name_popularity="unusual" baby_gender="boy" posts_per_page="10"]
<h2>Best Cool Unusual Girls' Names</h2>
[show_baby_names_list baby_category="best-cool" name_popularity="unusual" baby_gender="girl" posts_per_page="10"]

<h2>Boy Names for Girls</h2>
[show_baby_names_list baby_category="boy-girls" posts_per_page="10"]
<h2>Christmas Baby Names</h2>
[show_baby_names_list baby_category="chiristmas-names" posts_per_page="10"]
<h2>Classic Baby Names</h2>
[show_baby_names_list baby_category="classic" posts_per_page="10"]

